<div class="smoke">
  {{#if user}}
  {{else}}
    <span>{{ok}}</span>&nbsp;<span>L</span><span>O</span><span>G</span><span>I</span><span>N</span>&nbsp;<span>T</span><span>O</span>&nbsp;<span>T</span><span>A</span><span>K</span><span>E</span>&nbsp;<span>D</span><span>I</span><span>S</span><span>C</span><span>O</span><span>U</span><span>N</span><span>T</span>&nbsp;<span>C</span><span>O</span><span>U</span><span>P</span><span>O</span><span>N</span>
  {{/if}}
</div>
<h2 class="mb-5">Retrained and get your new job</h2>
{{#if user}}
  {{#each courses}}
    <div class="card mb-4">
      <img src="{{this.thumbnail}}" class="card-img-top" alt="picture">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <div class="d-flex justify-content-between">
          <p class="card-text"><small>Last updated: {{this.last_updated}}</small></p>
          <div class="d-flex">
<!--            <div><a href="#" class="btn btn-primary me-3">More...</a></div>-->
            <div><a href="/course/{{this.id}}" class="btn btn-primary">Get coupon!</a></div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  {{#each courses}}
    <div class="card mb-4">
      <img src="{{this.thumbnail}}" class="card-img-top" alt="picture">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <div class="d-flex justify-content-between">
          <p class="card-text"><small>Last updated: {{this.last_updated}}</small></p>
          <div class="d-flex">
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}
